<div style="width: 400px; margin: 0 auto; text-align: center; font-family: Arial,sans-serif;">
    <h3>Reading file system, please wait...</h3>
    <img src="splash-loader.gif" alt="Spashing...">
</div>